:root {
  /* Color */
  --royal-blue: #2c55dd;
  --light-blue: #377dff;
  --dark-blue: #113ac2;
  --black-pearl: #071b32;
  --black: #1a1a1a;
  --brown-grey: #989898;
  --pale-lilac: #e5e6eb;
  --white: #f9f9f9;
  --pale-grey: #f6f9fc;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
